FLASK_ENV=development
FLASK_APP=application.py
SQLALCHEMY_DB_URI=mysql+pymysql://user:password@server/database
JWT_SECRET_KEY=
FLASK_DEBUG=True
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET_FILES=
SUPABASE_BUCKET_WEIGHTS=
SUPABASE_BUCKET_PROFILE_IMAGES=
ROBOFLOW_PRIVATE_API_KEY=
ROBOFLOW_PROJECT=