flask==2.3.3
flask-restx==1.1.0
sqlalchemy==2.0.21
flask_sqlalchemy==3.1.1
flask_jwt_extended==4.5.2
pymysql==1.1.0
validators==0.22.0
werkzeug==2.3.7
python-dotenv==1.0.0
supabase==1.0.4
torch==2.0.1
numpy==1.26.0
pillow==9.5.0
flask_cors==4.0.0
flask_swagger_ui==4.11.1
roboflow==1.1.7
requests==2.31.0
pytest==7.4.3